* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2334;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin-right: 15px;
  
  
}
.instructions{
  border: solid black;
  background-color: #F5F5F5 ;
  height: 400px;
  width: 200px;
  border-radius: 5%;
  
  
  
}
.App{
  display: flex;
}